@font-face {
    font-family: 'Waiting for the Sunrise';
    font-style: normal;
    font-weight: 400;
    src: url(Waiting+for+the+Sunrise_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(Waiting+for+the+Sunrise_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(Waiting+for+the+Sunrise_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/waitingforthesunrise/v7/eNfH7kLpF1PZWpsetF-hazFoTnl3mJKNVVnPtbVHJow.woff */
        url(Waiting+for+the+Sunrise_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/waitingforthesunrise/v7/eNfH7kLpF1PZWpsetF-ha6ioFKof5W7pXanOtzb_7IYC1LhKU8qFLLahJuQDJSaO.ttf */
        url(Waiting+for+the+Sunrise_400_normal.svg#Waiting+for+the+Sunrise_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=eNfH7kLpF1PZWpsetF-ha9KPzVYCzqJ1I5HbhLG_r7c&skey=6828a7d98060e457&v=v7#WaitingfortheSunrise */
}
