@import url("http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise");

.motto {
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 30px;
    line-height: 2em;
    letter-spacing: 6px;
    font-weight: bold;
}

@keyframes motto-blink-cursor {
    from, to {
        color : transparent
    }
    50% {
        color : yellow;
    }
}

.motto .cursor {
    animation : motto-blink-cursor .75s step-end infinite;
}
